<h2 class="text-2xl font-bold mb-2"><%= @article.title %></h2>
<p class="italic text-sm mb-2"><%= @article.author %></p>
<p class="mb-4"><%= @article.body %></p>

<div class="mb-4">
  <h2 class="text-2xl">Comments</h2>
  <%= render @article.comments %>
  
  <h2 class="text-xl">Add a comment:</h2>
  <%= render 'comments/form' %>
</div>

